@font-face {
    font-family: "Flaticon";
    src: url("flaticon.eot");
    src: url("flaticon.ttf") format("truetype"),
    url("flaticon.woff2") format("woff2"),
    url("flaticon.woff") format("woff"),
    url("flaticond41d.eot?#iefix") format("embedded-opentype"),
    url("flaticon.svg#flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("flaticon.svg#flaticon") format("svg");
    }
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-right-arrow:before {
    content: "\f101";
}
.flaticon-right:before {
    content: "\f102";
}
.flaticon-more:before {
    content: "\f103";
}
.flaticon-search:before {
    content: "\f104";
}
.flaticon-paper-bag:before {
    content: "\f105";
}
.flaticon-play-button:before {
    content: "\f106";
}
.flaticon-play:before {
    content: "\f107";
}
.flaticon-quote:before {
    content: "\f108";
}
.flaticon-link:before {
    content: "\f109";
}
.flaticon-like:before {
    content: "\f10a";
}
.flaticon-placeholder:before {
    content: "\f10b";
}
.flaticon-calendar:before {
    content: "\f10c";
}
.flaticon-calendar-1:before {
    content: "\f10d";
}
.flaticon-circular-alarm-clock-tool:before {
    content: "\f10e";
}
.flaticon-info:before {
    content: "\f10f";
}
.flaticon-checked:before {
    content: "\f110";
}
.flaticon-close-button:before {
    content: "\f111";
}
.flaticon-right-arrow-1:before {
    content: "\f112";
}
.flaticon-close:before {
    content: "\f113";
}
.flaticon-up-and-down:before {
    content: "\f114";
}
.flaticon-heart:before {
    content: "\f115";
}
.flaticon-cancel:before {
    content: "\f116";
}
.flaticon-bag:before {
    content: "\f117";
}
.flaticon-heart-1:before {
    content: "\f118";
}
.flaticon-worldwide:before {
    content: "\f119";
}
.flaticon-heart-2:before {
    content: "\f11a";
}
.flaticon-chat:before {
    content: "\f11b";
}
.flaticon-network:before {
    content: "\f11c";
}
.flaticon-telegram:before {
    content: "\f11d";
}
.flaticon-user:before {
    content: "\f11e";
}
.flaticon-notification:before {
    content: "\f11f";
}
.flaticon-star:before {
    content: "\f120";
}
.flaticon-file:before {
    content: "\f121";
}
.flaticon-photo-camera:before {
    content: "\f122";
}
.flaticon-image:before {
    content: "\f123";
}
.flaticon-hashtag:before {
    content: "\f124";
}
.flaticon-chat-1:before {
    content: "\f125";
}
.flaticon-email:before {
    content: "\f126";
}
.flaticon-arroba:before {
    content: "\f127";
}
.flaticon-arroba-1:before {
    content: "\f128";
}
.flaticon-coin:before {
    content: "\f129";
}
